.Headers{
    background-color: rgb(0, 255, 255);
    font-family:'SFPRODISPLAYMEDIUM';
    display: flex;
    justify-content: center;
    background-position: cover;
    margin-top: 2%;
    border-radius: 2% 3% 3% 2%;
}
.Row{
    padding-top: 2%;
}
.container-fluid{
    padding-top: 4%;
}

@font-face {
    font-family: 'Waylimo';
    src: local('Waylimo'), url('../fonts/Waylimo.ttf'), format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFPRODISPLAYMEDIUM';
    src: local('SFPRODISPLAYMEDIUM'), url('../fonts/SFPRODISPLAYMEDIUM.OTF'), format('otf');
    font-weight: bold;
    font-style: normal;
}